<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Not Tuesday</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Sorry, maybe tomorrow will bring tacos.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="/images/sad_taco.jpg">
    </div>
  </div>
</div>