<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Tuesday</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>It's finally here!!!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center tuesday">
      <img src="/images/tt_green.jpg">
    </div>
  </div>
</div>